In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression,LassoCV, RidgeCV,ElasticNet
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('ToyotaCorolla.csv') # loading the dataset into 'data' variable

In [3]:
df.info()
# as we can see in the output, all the columns are non-null and the data types of all the columns are correct, 
# so lets do the EDA for it.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1436 non-null   int64
 1   Model              1436 non-null   object
 2   Price              1436 non-null   int64
 3   Age_08_04          1436 non-null   int64
 4   Mfg_Month          1436 non-null   int64
 5   Mfg_Year           1436 non-null   int64
 6   KM                 1436 non-null   int64
 7   Fuel_Type          1436 non-null   object
 8   HP                 1436 non-null   int64
 9   Met_Color          1436 non-null   int64
 10  Color              1436 non-null   object
 11  Automatic          1436 non-null   int64
 12  CC                 1436 non-null   int64
 13  Doors              1436 non-null   int64
 14  Cylinders          1436 non-null   int64
 15  Gears              1436 non-null   int64
 16  Quarterly_Tax      1436 non-null   int64
 17  Weight             1436 non-null   int64
 18  Mfr_Guarantee      1436 non-null   int64
 19  BOVAG_Guarantee    1436 non-null   int64
 20  Guarantee_Period   1436 non-null   int64
 21  ABS                1436 non-null   int64
 22  Airbag_1           1436 non-null   int64
 23  Airbag_2           1436 non-null   int64
 24  Airco              1436 non-null   int64
 25  Automatic_airco    1436 non-null   int64
 26  Boardcomputer      1436 non-null   int64
 27  CD_Player          1436 non-null   int64
 28  Central_Lock       1436 non-null   int64
 29  Powered_Windows    1436 non-null   int64
 30  Power_Steering     1436 non-null   int64
 31  Radio              1436 non-null   int64
 32  Mistlamps          1436 non-null   int64
 33  Sport_Model        1436 non-null   int64
 34  Backseat_Divider   1436 non-null   int64
 35  Metallic_Rim       1436 non-null   int64
 36  Radio_cassette     1436 non-null   int64
 37  Parking_Assistant  1436 non-null   int64
 38  Tow_Bar            1436 non-null   int64
dtypes: int64(36), object(3)
memory usage: 437.7+ KB

In [4]:
for col in df.columns:
    print(df[col].value_counts())
    print('-------------------------------------')

Id
1       1
2       1
3       1
4       1
5       1
       ..
1438    1
1439    1
1440    1
1441    1
1442    1
Name: count, Length: 1436, dtype: int64
-------------------------------------
Model
TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-Doors    109
TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-Doors     84
TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors       80
TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-Doors      71
TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-Doors     54
                                                      ...
TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors        1
TOYOTA Corolla 2.0 D4D 90 5DR TERRA 4/5-Doors            1
TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors              1
TOYOTA Corolla 1.8 16V VVTLI 5DR T SPORT 4/5-Doors       1
TOYOTA Corolla 1.3 Linea Terra 4/5-Doors                 1
Name: count, Length: 319, dtype: int64
-------------------------------------
Price
8950     109
9950      84
7950      63
10950     62
11950     47
        ...
6999       1
7499       1
7150       1
5845       1
10845      1
Name: count, Length: 236, dtype: int64
-------------------------------------
Age_08_04
68    69
65    63
80    59
78    47
62    42
      ..
1      2
2      2
10     1
6      1
18     1
Name: count, Length: 77, dtype: int64
-------------------------------------
Mfg_Month
1     207
4     154
3     138
2     134
7     133
6     120
5     118
8     115
10    101
9      76
11     72
12     68
Name: count, dtype: int64
-------------------------------------
Mfg_Year
1999    441
1998    392
2000    225
2001    192
2002     87
2003     75
2004     24
Name: count, dtype: int64
-------------------------------------
KM
36000    9
1        8
59000    7
43000    7
61000    6
        ..
44826    1
44444    1
43720    1
43622    1
46986    1
Name: count, Length: 1263, dtype: int64
-------------------------------------
Fuel_Type
Petrol    1264
Diesel     155
CNG         17
Name: count, dtype: int64
-------------------------------------
HP
110    835
86     249
97     164
72      73
90      36
69      34
107     21
192     11
116      9
98       2
71       1
73       1
Name: count, dtype: int64
-------------------------------------
Met_Color
1    969
0    467
Name: count, dtype: int64
-------------------------------------
Color
Grey      301
Blue      283
Red       278
Green     220
Black     191
Silver    122
White      31
Violet      4
Yellow      3
Beige       3
Name: count, dtype: int64
-------------------------------------
Automatic
0    1356
1      80
Name: count, dtype: int64
-------------------------------------
CC
1600     845
1300     248
1400     164
2000     119
1900      30
1800      14
1598       4
1587       4
1995       2
1332       2
1398       2
16000      1
1975       1
Name: count, dtype: int64
-------------------------------------
Doors
5    674
3    622
4    138
2      2
Name: count, dtype: int64
-------------------------------------
Cylinders
4    1436
Name: count, dtype: int64
-------------------------------------
Gears
5    1390
6      43
3       2
4       1
Name: count, dtype: int64
-------------------------------------
Quarterly_Tax
85     613
69     559
185     96
19      72
100     19
234     19
210     18
64      18
197     14
283      3
72       3
163      1
40       1
Name: count, dtype: int64
-------------------------------------
Weight
1075    192
1050    168
1015    117
1035    106
1070     89
1025     70
1065     51
1080     47
1055     43
1060     40
1100     40
1085     40
1115     39
1110     38
1040     35
1135     33
1105     31
1045     31
1130     29
1030     24
1000     17
1120     17
1140     16
1114     10
1090     10
1185      9
1020      9
1165      8
1255      7
1150      7
1180      5
1260      5
1010      4
1095      4
1205      4
1480      4
1170      4
1245      3
1119      3
1320      3
1270      3
1275      2
1195      2
1155      2
1280      1
1265      1
1125      1
1160      1
1067      1
1121      1
1084      1
1615      1
1103      1
1078      1
1109      1
1079      1
1172      1
1094      1
1083      1
Name: count, dtype: int64
-------------------------------------
Mfr_Guarantee
0    848
1    588
Name: count, dtype: int64
-------------------------------------
BOVAG_Guarantee
1    1286
0     150
Name: count, dtype: int64
-------------------------------------
Guarantee_Period
3     1274
6       77
12      73
24       4
36       4
20       1
13       1
18       1
28       1
Name: count, dtype: int64
-------------------------------------
ABS
1    1168
0     268
Name: count, dtype: int64
-------------------------------------
Airbag_1
1    1394
0      42
Name: count, dtype: int64
-------------------------------------
Airbag_2
1    1038
0     398
Name: count, dtype: int64
-------------------------------------
Airco
1    730
0    706
Name: count, dtype: int64
-------------------------------------
Automatic_airco
0    1355
1      81
Name: count, dtype: int64
-------------------------------------
Boardcomputer
0    1013
1     423
Name: count, dtype: int64
-------------------------------------
CD_Player
0    1122
1     314
Name: count, dtype: int64
-------------------------------------
Central_Lock
1    833
0    603
Name: count, dtype: int64
-------------------------------------
Powered_Windows
1    807
0    629
Name: count, dtype: int64
-------------------------------------
Power_Steering
1    1404
0      32
Name: count, dtype: int64
-------------------------------------
Radio
0    1226
1     210
Name: count, dtype: int64
-------------------------------------
Mistlamps
0    1067
1     369
Name: count, dtype: int64
-------------------------------------
Sport_Model
0    1005
1     431
Name: count, dtype: int64
-------------------------------------
Backseat_Divider
1    1106
0     330
Name: count, dtype: int64
-------------------------------------
Metallic_Rim
0    1142
1     294
Name: count, dtype: int64
-------------------------------------
Radio_cassette
0    1227
1     209
Name: count, dtype: int64
-------------------------------------
Parking_Assistant
0    1432
1       4
Name: count, dtype: int64
-------------------------------------
Tow_Bar
0    1037
1     399
Name: count, dtype: int64
-------------------------------------

In [5]:
# lets see if model is column to be removed 
df.Model.value_counts(sort=True)
# As we can see there are 319 different models of cars,
#  it will affect the prediction because most of the people will see the model before buying. 
# At the moement, we will drop the model column and see if any algorithms are there to include the column.

Model
TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-Doors    109
TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-Doors     84
TOYOTA Corolla 1.6 16V LIFTB LINEA LUNA 4/5-Doors       80
TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-Doors      71
TOYOTA Corolla 1.4 16V VVT I HATCHB TERRA 2/3-Doors     54
                                                      ...
TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors        1
TOYOTA Corolla 2.0 D4D 90 5DR TERRA 4/5-Doors            1
TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors              1
TOYOTA Corolla 1.8 16V VVTLI 5DR T SPORT 4/5-Doors       1
TOYOTA Corolla 1.3 Linea Terra 4/5-Doors                 1
Name: count, Length: 319, dtype: int64

In [6]:
# As we can see that the cylinders column has only one value, we will remove this column and ID column which is irrelevent to our target variable
df.drop(['Id','Cylinders','Model'],axis=1, inplace=True)

In [7]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [8]:
# converting categorical cols Feuel type and color into numerical with one hot encoding
encoded_df = pd.get_dummies(df, columns=['Fuel_Type','Color'], drop_first= True)

In [9]:
encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1435 entries, 0 to 1435
Data columns (total 45 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Price              1435 non-null   int64
 1   Age_08_04          1435 non-null   int64
 2   Mfg_Month          1435 non-null   int64
 3   Mfg_Year           1435 non-null   int64
 4   KM                 1435 non-null   int64
 5   HP                 1435 non-null   int64
 6   Met_Color          1435 non-null   int64
 7   Automatic          1435 non-null   int64
 8   CC                 1435 non-null   int64
 9   Doors              1435 non-null   int64
 10  Gears              1435 non-null   int64
 11  Quarterly_Tax      1435 non-null   int64
 12  Weight             1435 non-null   int64
 13  Mfr_Guarantee      1435 non-null   int64
 14  BOVAG_Guarantee    1435 non-null   int64
 15  Guarantee_Period   1435 non-null   int64
 16  ABS                1435 non-null   int64
 17  Airbag_1           1435 non-null   int64
 18  Airbag_2           1435 non-null   int64
 19  Airco              1435 non-null   int64
 20  Automatic_airco    1435 non-null   int64
 21  Boardcomputer      1435 non-null   int64
 22  CD_Player          1435 non-null   int64
 23  Central_Lock       1435 non-null   int64
 24  Powered_Windows    1435 non-null   int64
 25  Power_Steering     1435 non-null   int64
 26  Radio              1435 non-null   int64
 27  Mistlamps          1435 non-null   int64
 28  Sport_Model        1435 non-null   int64
 29  Backseat_Divider   1435 non-null   int64
 30  Metallic_Rim       1435 non-null   int64
 31  Radio_cassette     1435 non-null   int64
 32  Parking_Assistant  1435 non-null   int64
 33  Tow_Bar            1435 non-null   int64
 34  Fuel_Type_Diesel   1435 non-null   bool
 35  Fuel_Type_Petrol   1435 non-null   bool
 36  Color_Black        1435 non-null   bool
 37  Color_Blue         1435 non-null   bool
 38  Color_Green        1435 non-null   bool
 39  Color_Grey         1435 non-null   bool
 40  Color_Red          1435 non-null   bool
 41  Color_Silver       1435 non-null   bool
 42  Color_Violet       1435 non-null   bool
 43  Color_White        1435 non-null   bool
 44  Color_Yellow       1435 non-null   bool
dtypes: bool(11), int64(34)
memory usage: 407.8 KB

In [10]:
correlation = encoded_df.corrwith(encoded_df['Price']).sort_values()

In [11]:
correlation

Age_08_04           -0.876273
KM                  -0.569420
Tow_Bar             -0.171618
Color_Green         -0.104368
Color_White         -0.103511
Color_Red           -0.103026
Radio_cassette      -0.042281
Radio               -0.040979
Fuel_Type_Petrol    -0.031356
Color_Violet        -0.016794
Mfg_Month           -0.014518
Color_Blue           0.015872
Color_Yellow         0.022974
Color_Silver         0.029554
Automatic            0.033928
Color_Black          0.036163
BOVAG_Guarantee      0.036439
Parking_Assistant    0.044760
Fuel_Type_Diesel     0.046612
Gears                0.063831
Power_Steering       0.064208
Airbag_1             0.093618
Met_Color            0.107604
Backseat_Divider     0.108280
Metallic_Rim         0.110555
CC                   0.124375
Guarantee_Period     0.148167
Color_Grey           0.165747
Sport_Model          0.166832
Doors                0.183604
Mfr_Guarantee        0.201207
Quarterly_Tax        0.211508
Mistlamps            0.224925
Airbag_2             0.248651
ABS                  0.306500
HP                   0.314134
Central_Lock         0.343062
Powered_Windows      0.356115
Airco                0.429021
CD_Player            0.479378
Weight               0.575869
Automatic_airco      0.583614
Boardcomputer        0.606404
Mfg_Year             0.884627
Price                1.000000
dtype: float64

In [12]:
#lets use lasso regression for feature reduction beacuse we have too many features present in our dataset
# splitting the data into train and test before training the model
X = encoded_df.drop('Price',axis=1) # defining features
y = encoded_df.Price                # defining target
# splitting the data 
X_train, X_test, y_train, y_test = train_test_split(X,y,train_size=0.8,random_state=42) 
# checking shape of each 
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)
print('-------------------------------------------------------')
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

(1148, 44) (287, 44) (1148,) (287,)
-------------------------------------------------------

In [13]:
# we will first use linear regression model 
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred_lr = lr.predict(X_test)
print(f'linear_regression_r2_score: {r2_score(y_test,y_pred_lr)}')

linear_regression_r2_score: 0.8834214605626209

In [14]:
lassocv = LassoCV(cv=5, random_state=42) # model Lasso with Cross Validation of fold 5
lassocv.fit(X_train,y_train)
y_pred_lasso = lassocv.predict(X_test)
print(f'lasso_r2_score: {r2_score(y_test,y_pred_lasso)}')
print('--------------------------------------')
selected_features = pd.Series(lassocv.coef_, index=X.columns)
print("Selected Features (non-zero coefficients):")
print(selected_features[selected_features != 0].sort_values(ascending=False))

lasso_r2_score: 0.3062219429389753
--------------------------------------
Selected Features (non-zero coefficients):
CC    0.559458
KM   -0.056104
dtype: float64

In [15]:
# As we can see lasso regression deleted all columns except CC and KM, we will try with RidgeCV
ridge_cv = RidgeCV(cv=5)
ridge_cv.fit(X_train,y_train)
y_pred_ridge = ridge_cv.predict(X_test)
print(f'ridge_r2_score: {r2_score(y_pred_ridge,y_test)}')

ridge_r2_score: 0.8819446677043363

##### The value of r2 score of linear regression is 0.8834 and ridge is 0.8819. 
##### So we can use ridge or linear regression model to predict the prices of cars.